# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
node_modules/

# gatsby files
.cache/
public

# pdflatex
/scripts/*.aux
/scripts/*.log
/scripts/*.out
/scripts/*.fdb_latexmk
/scripts/*.fls
/scripts/*.synctex.gz
